html{
    box-sizing: border-box;
}

*,
*::after,
*::before{
    box-sizing: inherit;
}

a{
    color: #000;
    text-decoration: none;
    display: inline-block;
}

body{
    font-weight: 400;
    font-family: 'Lato', sans-serif;
    line-height: 24px;
    color: #4a6385;
    font-size: 14px;
}

.header{
    border-top: 1px solid #267ae9;
}

.container{
    margin: 0 auto;
    max-width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
}

.header__inner{
    display: flex;
    justify-content: space-between;
    height: 87px;
    align-items: center;
}

.btn__menu{
    width: 40px;
    display: none;
}

.btn__menu div{
    height: 5px;
    background-color: #000;
    margin-bottom: 5px;
}

.menu__list{
    display: flex;
}

.menu__list li{
    margin-left: 39px;
}

.menu__list a{
    font-size: 14px;
    color: #2f3f54;
    font-weight: 700;
    text-decoration: none;
    font-family: 'Open sans', sans-serif;
}


/* Голова */


.top{
    background-color:  #267ae9;
    padding-top: 150px;
    padding-bottom: 180px;
}

.top__inner{
    display: flex;
}

.top-info {
    max-width: 555px;
    margin-right: 35px;
    color: #fff;
}

.top-info__title {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 48px;
    line-height: 52px;
    text-transform: uppercase;
}

.top-info__descr {
    font-size: 19px;
    font-weight: 700;
    line-height: 50px;
    margin-bottom: 35px;
}

.top-info__descr span {
    font-size: 14px;
    line-height: 24px;
    display: block;
    font-weight: 400;
}

.top-info__list {
    list-style: none;
    margin-bottom: 50px;
}

.top-info__list li {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 3px;
    position: relative;
    padding-left: 24px;
}

.top-info__list li::before{
    content: "";
    background-image: url(../img/list-icon.png);
    width: 13px;
    height: 13px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.top-info__btn {
    color: #fff;
    text-transform: uppercase;
    border: 3px solid #fff;
    padding: 13px 44px;
    border-radius: 30px;
    margin-bottom: 15px;
}

.top-images__box {
    position: relative;
}

.top-images__circle {
    width: 230px;
    height: 230px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #212121;
    font-size: 14px;
    position: absolute;
    right: -65px;
    top: -60px;
}

.top-images__titles {
    width: 140px;
    margin-bottom: 10px;
    text-align: left;
}

.top-images__price {
    font-size: 54px;
    font-weight: 700;
    margin-bottom: 5px;
}

.top-images__date {
    text-align: right;
    width: 140px;
}


/* Первая секция с суперменом */


.price {
    padding: 150px 0 180px;
}

.title {
    text-align: center;
    font-size: 40px;
    line-height: 50px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    color: #2f3f54;
}

.title span {
    color: #267ae9;
}

.price__descr {
    text-align: center;
    max-width: 594px;
    margin: 35px auto 125px;
    font-size: 14px;
    line-height: 24px;
}

.price__descr a{
    color: #e74c3c;
}

.price__descr span{
    color: #42d6c1;
}

.price__items {
    display: flex;
    justify-content: space-between;
}
  
.price-item {
    max-width: 360px;
    box-shadow: 0px 21px 49px 1px rgba(41, 44, 61, 0.15);
    padding: 0px 50px 60px;
    position: relative;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
}
.price-item__nomber {
    width: 265px;
    height: 465px;
    border-radius: 136px;
    color: #fff;
    background-color: #267ae9;
    margin: 0px auto;
    position: absolute;
    top: -370px;
    font-weight: 700;
    font-size: 33px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 40px;
}

.price-item__nomber span{
    font-size: 16px;
}
.price-item__images {
    padding-top: 120px;
    text-align: center;
    margin-bottom: 30px;
    min-height: 251px;
}
.price-item__title {
    margin-bottom: 25px;
    line-height: 40px;
    font-weight: 700;
    color: #267ae9;
    font-size: 32px;
}

.price-item__text {
    margin-bottom: 50px;
    font-size: 14px;
    line-height: 24px;
}

.price-item__list {
    margin-bottom: 75px;
}

.price-item__list li{
    font-size: 16px;
    line-height: 23px;
    margin-bottom: 12px;
    font-weight: 400;
    padding-left: 36px;
    font-family: 'Roboto', sans-serif;
    position: relative;
}

.price-item__list li::before{
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-image: url(../img/price-icon.png);
    width: 15px;
    height: 11px;
}

.price-item__btn {
    font-size: 17px;
    color: #fff;
    background-color: #267ae9;
    font-weight: 700;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 20px 10px;
}


/* Вторая секция цены на хостинг */


.company{
    padding: 120px 095px;
}

.company__images{
    width: 100%;
    padding: 0 20px;
}

.footer{
    background-color: #304054;
    padding-top: 80px;
    padding-bottom: 125px;
    color: #718db2;
}

.footer__inner{
    display: flex;
    justify-content: space-between;
}

.footer-col__logo{
    width: 263px;
}

.footer__logo{
    margin-bottom: 30px;
}

.footer__text{
    font-size: 13px;
    line-height: 22px;
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(255, 255, 255, .05);
}

.footer-menu{
    width: 165px;
}

.footer__title{
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color: #d0e4ff;
    margin-bottom: 30px;
}

.footer__list a{
    font-size: 13px;
    margin-bottom: 8px;
    line-height: 24px;
    color: #718db2;
}

.footer-form{
    width: 263px;
}

.footer-form input, .footer-form textarea{
    border: 1px solid rgba(255, 255, 255,.05);
    background-color: transparent;
    height: 38px;
    display: block;
    width: 100%;
    color: #718db2;
    padding: 0 12px;
    font-size: 11px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

.footer-form input::placeholder,
 .footer-form textarea::placeholder{
    color: #718db2;
    font-size: 11px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

.footer-form textarea{
    padding: 12px;
    height: 85px;
    resize: none;
}

.footer-form button{
    margin-top: 10px;
    padding: 10px;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    background-color: #2575e7;
    border: none;
    color: #fff;
    cursor: pointer;
}


/* Footer! */


.reviews{
    background-color: #fafafa;
    padding: 120px 0;
}

.reviews-slider{
    margin-top: 160px;
}

.reviews-slider .slick-list{
    margin: 0 -50px;
}

.reviews-slider .slick-slide{
    margin: 0 50px;
    padding-bottom: 70px;
}

.reviews-slider .slick-dots{
    display: flex;
    justify-content: center;
}

.reviews-slider .slick-dots li{
    margin: 0 8px;
}

.reviews-slider .slick-dots li.slick-active button{
    background-color: #fff;
    border: 2px solid #267ae9;
}

.reviews-slider .slick-dots button{
    font-size: 0;
    width: 10px;
    height: 10px;
    padding: 0;
    border-radius: 50%;
    border: none;
    background-color: #267ae9;
}

.reviews-box {
    display: flex;
    box-shadow: 0px 21px 49px 1px rgba(41, 44, 61, 0.15);
}

.reviews-box__images{
    background-color: #267ae9;
    width: 190px;
    min-height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.reviews-box__images img{
    border-radius: 50%;
}

.reviews-box__content{
    background-color: #fff;
    width: 330px;
    font-size: 16px;
    line-height: 26px;
    padding: 0 40px;
    min-height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.reviews-box__autor {
    margin-top: 30px;
    font-family: 'Lato', sans-serif;
}

.reviews-box__autor span{
    color: #2575e7;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}
  



